<!-- BEGIN Timeline Embed -->
<div class="span12">
  <div class="page-header">
    <h1><%= @user.header_name  %></h1>
  </div>
  <% unless @entries.empty? %>
  <div id="timeline-embed"></div>
  <% else %>
  <div class="content">
    <%= t("application.user_no_entries") %>
  </div>
  <% end %>
</div>

<% unless @entries.empty? %>
<script type="text/javascript">

  var timeline_config = {
    width: "100%",
    height: window.innerHeight - 120,
    source: "<%= url_for(:action => "timeline") + ".json" %>",
    lang: 'es',
    start_zoom_adjust: "-3",
    hash_bookmark: true
  }

</script>

<script src="/assets/timeline/js/storyjs-embed.js?body=1" type="text/javascript"></script>
<%end %>

<!-- END Timeline Embed-->

<div class="span8">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'tesisespe'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>