<%- model_class = Department.new.class -%>
<div class="span8">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human(:count => @departments.count )%></h1>
  </div>
  <ul class="thumbnails entries">
    <%= render @departments %>
  </ul>
  <div class="pull-right">
    <%= will_paginate @departments, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
<div class="span4">
  <%= render "entries/sidebar" %>
</div>