// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sticky-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}


.second-row {
  padding-top: 30px;
}

li.nav-sub-header > span, li.nav-sub-header > a > span, li.nav-sub-header > a  {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #ababab;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.section-title h1 {
  color: #5b5b5b;
}

.more-link {
  margin-left: 80%;
  margin-bottom: 15px;
}