<%= content_tag_for(:li, knowledge_area, :class => "entry") do %>
  <div class="row">
    <div class="span2">
      <%= link_to knowledge_area_path(knowledge_area), :class => 'thumbnail' do %>
        <img src="http://www.placehold.it/160x155/EFEFEF/AAAAAA&amp;text=no+image">
      <% end %>
    </div>
    <div class="span6">
      <%= link_to knowledge_area_path(knowledge_area) do %>
        <h2><%= knowledge_area.name %></h2>
      <% end %>
      <% truncate_html(sanitize(knowledge_area.name.html_safe), :length => 250) %>
    </div>
  </div>
<% end %>